.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  filter: blur(0);
  transition: all 0.3s ease-out;
}

.map-container:focus {
  outline: none !important;
}

.map-container.loading {
  filter: blur(8px);
}

/* Add transition for panel open state */
:root.panel-open .map-container {
  width: 67dvw !important;
  transition: width 0.3s ease;
}

