.map-container {
  position: relative;
  height: 100%;
}

.map-container:focus {
  outline: none !important;
}

/* Add this CSS to remove the focus outline */
.map-container:focus {
  outline: none ;
}

.drop-mode-button {
  position: absolute !important;
  top: 10px;
  right: 16px;
  background-color: #1a1b1e;
  color: #fffbbd;
  border: 1px solid rgba(255, 251, 189, 0.1);
  padding: 0 17px;
  height: 40px;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  cursor: pointer;
  z-index: 1;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
}

.drop-mode-button:hover {
  background-color: #2a2b2e;
}

.drop-mode-button.active {
  background-color: #fffbbd;
  color: #1a1b1e;
}

.drop-marker-button {
  position: absolute !important;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
  background: #1a1b1e;
  border: 1px solid rgba(255, 251, 189, 0.1);
  border-radius: 2px;
  cursor: grab;
  z-index: 1000;
  user-select: none;
  touch-action: none;
}

.drop-marker-button.dragging {
  cursor: grabbing;
  position: fixed;
  pointer-events: none;
  opacity: 0.7;
}