.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: var(--color-background-transparent);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  z-index: 1002;
  border-bottom: 1px solid var(--color-text);
}

.logo {
  padding: 0;
  height: auto;
  max-height: 60px;
  width: auto;
  text-align: left;
  align-self: center;
}

.logo h1 {
  display: flex;
  font-family: 'FATPIXEL';
  font-size: 20px;
  color: var(--color-text);
  margin: 0;
  margin-top: 5px;
  padding: 0;
  line-height: 0;
}

.walletButton {
  display: flex;
  gap: 8px;
  align-items: center;
}

.wallet-adapter-button-trigger {
  height: 27px !important;
}

.dashboard-button {
  background: none !important;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  border: none;
  cursor: pointer;
}

.dashboard-button .profile-icon {
  height: 25.65px;
  width: 25.65px;
  color: var(--color-text);
}

.wallet-adapter-button-start-icon {
  margin-right: 6px !important;
}
.wallet-adapter-button-start-icon img {
  height: 20px !important;
  width: 20px !important;
}

.bottom-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Wallet Button */
.wallet-adapter-button {
  background: var(--color-background) !important;
  color: var(--color-text) !important;
  border-radius: 2 !important;
  padding: 0 8px !important;
  font-family: "TheGoodMonolith" !important;
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
}

.wallet-adapter-button-trigger .wallet-icon {
  font-size: 1.2em;
  color: var(--color-text);
}

@media (min-width: 768px) {
  .navbar {
    height: 60px;
    padding: 0 1em;
  }

  .logo h1 {
    font-size: 30px;
  }

  .dashboard-button .profile-icon {
    height: 38.47px;
    width: 38.47px;
  }

  .wallet-adapter-button-start-icon {
    margin-right: 12px !important;
  }

  .wallet-adapter-button-start-icon img {
    height: 30px !important;
    width: 30px !important;
  }
}

.wallet-button-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.wallet-button-wrapper .wallet-icon {
  position: absolute;
  left: -18px;
  z-index: 1;
  font-size: 1.2em;
  color: var(--color-text);
}
