.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 0;
    background-color: rgba(2, 9, 25, 0.95);
    border: .5px solid #fffbbd;
    color: #fffbbd;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .notification a {
    color: #fffbbd;
    text-decoration: underline;
  }
  
  .notification .close-button {
    cursor: pointer;
    border: .5px solid #fffbbd !important;
    width: 20px !important;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 12px;
    aspect-ratio: 1/1;
    background-color: transparent;
    color: #fffbbd;
    padding: 0 !important;
    margin-left: 10px !important;
  }
  
  .loading-spinner {
    width: 20px;
    height: 20px;
    border: 2px solid #fffbbd;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }