.panel-overlay {
  position: fixed;
  z-index: 1001;
  top: 42px;
  left: 0;
  right: 0;
  bottom: 42px;
  background: var(--black-80);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.panel-overlay.closing {
  opacity: 0;
}

.side-panel {
  position: relative;
  background: var(--black-40);
  backdrop-filter: blur(8px);
  border: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.side-panel.closing {
  transform: translateX(100%);
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--manilla);
  flex-shrink: 0;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--manilla);
  padding-left: 8px;
}

.header-content svg {
  font-size: 24px;
}

.panel-header h2 {
  margin: 0;
  color: var(--manilla);
  font-size: 18px;
}

.panel-content {
  flex: 1;
  overflow-y: auto;
  padding: 6px;
}

.close-button {
  border: 1px solid var(--manilla);
  color: var(--manilla);
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.close-button:hover {
  background: var(--manilla-05) !important;
}

@media (min-width: 768px) {
  .panel-overlay {
    top: 60px;
    left: unset;
    width: 33dvw;
    right: 0;
    bottom: 42px;
  }
  
  .side-panel {
    border-left: 1px solid var(--manilla);
    width: 100%;
  }

  .panel-control-button {
    background: var(--black) !important;
    border: 1px solid var(--manilla);
    color: var(--manilla);
    font-size: 24px;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;
  }
} 