* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100dvw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--manilla);
}

input:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.map-wrapper {
  height: calc(100% - 84px);
  position: relative;
  top: 42px;
  padding: 6px;
  background: var(--black);
}

@media (min-width: 768px) {
  .map-wrapper {
    height: calc(100% - 103px);
    top: 60px;
  }
}