@import '@solana/wallet-adapter-react-ui/styles.css';

/* Define the custom font */
@font-face {
  font-family: 'TheGoodMonolith';
  src: url('/fonts/TheGoodMonolith.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FATPIXEL';
  src: url('/fonts/FATPIXEL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'TheGoodMonolith', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, var(--black) 0%, var(--black-90) 50%, var(--black) 100%);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Base colors */
  --black: #020919;
  --manilla: #fffbbd;
  --green: #7bf7d5;
  --red: #ff5a5a;
  --yellow: #fff566;
  
  /* Accent colors */
  --accent-dark: #131925;    /* darker blue accent for subtle backgrounds */
  --accent-border: #353e53;  /* muted blue accent for subtle borders */
  
  /* Manilla with opacity */
  --manilla-05: rgba(255, 251, 189, 0.05);
  --manilla-10: rgba(255, 251, 189, 0.1);
  --manilla-20: rgba(255, 251, 189, 0.2);
  --manilla-30: rgba(255, 251, 189, 0.3);
  --manilla-40: rgba(255, 251, 189, 0.4);
  --manilla-60: rgba(255, 251, 189, 0.6);
  --manilla-80: rgba(255, 251, 189, 0.8);
  --manilla-90: rgba(255, 251, 189, 0.9);
  /* Black with opacity */
  --black-05: rgba(2, 9, 25, 0.05);
  --black-10: rgba(2, 9, 25, 0.1);
  --black-20: rgba(2, 9, 25, 0.2);
  --black-30: rgba(2, 9, 25, 0.3);
  --black-40: rgba(2, 9, 25, 0.4);
  --black-60: rgba(2, 9, 25, 0.6);
  --black-80: rgba(2, 9, 25, 0.8);
  --black-90: rgba(2, 9, 25, 0.9);

  /* Green with opacity */
  --green-05: rgba(123, 247, 213, 0.05);
  --green-10: rgba(123, 247, 213, 0.1);
  --green-20: rgba(123, 247, 213, 0.2);
  --green-30: rgba(123, 247, 213, 0.3);
  --green-40: rgba(123, 247, 213, 0.4);
  --green-60: rgba(123, 247, 213, 0.6);
  --green-80: rgba(123, 247, 213, 0.8);

  /* Red with opacity */
  --red-05: rgba(255, 90, 90, 0.05);
  --red-10: rgba(255, 90, 90, 0.1);
  --red-20: rgba(255, 90, 90, 0.2);
  --red-30: rgba(255, 90, 90, 0.3);
  --red-40: rgba(255, 90, 90, 0.4);
  --red-60: rgba(255, 90, 90, 0.6);
  --red-80: rgba(255, 90, 90, 0.8);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100dvh;
  overflow: hidden; /* Hide overflow */
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  background: #020919;
  color: var(--manilla) !important;
  font-family: 'TheGoodMonolith' !important;
  border-radius: 2px !important;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden; /* Hide overflow */
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px !important;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--manilla);
  border-radius: 2px;
}

html, body {
  touch-action: none;  /* Prevents pinch zoom on mobile */
  -ms-content-zooming: none;  /* For IE/Edge */
  overflow: hidden;
}

/* Allow touch actions on the map container specifically */
.map-container {
  touch-action: auto !important;
}
