@import '@solana/wallet-adapter-react-ui/styles.css';

/* Define the custom font */
@font-face {
  font-family: 'TheGoodMonolith';
  src: url('./assets/fonts/TheGoodMonolith.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'TheGoodMonolith', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #020919;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100dvh;
  overflow: hidden; /* Hide overflow */
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  background: #020919 !important;
  color: #fffbbd !important;
  font-family: 'TheGoodMonolith' !important;
  border-radius: 0 !important;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden; /* Hide overflow */
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #fffbbd;

  border-radius: 5px;
}

html, body {
  touch-action: none;  /* Prevents pinch zoom on mobile */
  -ms-content-zooming: none;  /* For IE/Edge */
  overflow: hidden;
}

/* Allow touch actions on the map container specifically */
.map-container {
  touch-action: auto !important;
}